.main-container
  .panel
    .page__hd
      h1.page__title רשימת המבצעים שלי
      p.page__desc  רשימת המבצעים מתעדכנת אוטומטית לפי איזור גאוגרפי
    .page__bd
      .webvUI-panel.webvUI-panel_access
        .webvUI-panel__hd  מכולת 
        .webvUI-panel__bd
          a.webvUI-media-box.webvUI-media-box_appmsg(href='javascript:void(0);')
            .webvUI-media-box__hd
              img.webvUI-media-box__thumb(src='http://www.shufersal.co.il/_layouts/images/Shufersal/Images/Products_Extralarge/e_7290013847102.PNG', alt='')
            .webvUI-media-box__bd
              h4.webvUI-media-box__title טונה סטארקיסט מארז - סטארקיסט
              p.webvUI-media-box__desc מחיר במבצע: 
                  span(style="font-weight: bold; font-size: 14px;") 9.90 ₪ 
                  span וחסכון: 
                  span(style="font-weight: bold; font-size: 14px;color: #05c000") 4.00 ₪
              p.webvUI-media-box__desc בתוקף עד ה-12.03.2019
            span.webvUI-icon-delete
          a.webvUI-media-box.webvUI-media-box_appmsg(href='javascript:void(0);')
            .webvUI-media-box__hd
              img.webvUI-media-box__thumb(src='http://www.shufersal.co.il/_layouts/images/Shufersal/Images/Products_Extralarge/e_7296073272472.PNG', alt='')
            .webvUI-media-box__bd
              h4.webvUI-media-box__title רוטב שום לייט שופרסל - שופרסל
              p.webvUI-media-box__desc מחיר במבצע: 
                  span(style="font-weight: bold; font-size: 14px;") 23.90 ₪ 
                  span וחסכון: 
                  span(style="font-weight: bold; font-size: 14px;color: #05c000") 4.20 ₪
              p.webvUI-media-box__desc בתוקף עד ה-12.03.2019
            span.webvUI-icon-delete          
      .webvUI-panel.webvUI-panel_access
        .webvUI-panel__hd  מאפים 
        .webvUI-panel__bd
          a.webvUI-media-box.webvUI-media-box_appmsg(href='javascript:void(0);')
            .webvUI-media-box__hd
              img.webvUI-media-box__thumb(src='https://storage.googleapis.com/sp-public/items/medium/11584.jpg?v=145', alt='')
            .webvUI-media-box__bd
              h4.webvUI-media-box__title רוטב שום לייט שופרסל - שופרסל
              p.webvUI-media-box__desc מחיר במבצע: 
                  span(style="font-weight: bold; font-size: 14px;") 49.90 ₪ 
                  span וחסכון: 
                  span(style="font-weight: bold; font-size: 14px;color: #05c000") 13.00 ₪
              p.webvUI-media-box__desc בתוקף עד ה-12.03.2019
            span.webvUI-icon-delete
          a.webvUI-media-box.webvUI-media-box_appmsg(href='javascript:void(0);')
            .webvUI-media-box__hd
              img.webvUI-media-box__thumb(src='http://www.shufersal.co.il/_layouts/images/Shufersal/Images/Products_Extralarge/e_408354.PNG', alt='')
            .webvUI-media-box__bd
              h4.webvUI-media-box__title רוטב שום לייט שופרסל - שופרסל
              p.webvUI-media-box__desc מחיר במבצע: 
                  span(style="font-weight: bold; font-size: 14px;") 99.90 ₪ 
                  span וחסכון: 
                  span(style="font-weight: bold; font-size: 14px;color: #05c000") 24.00 ₪
              p.webvUI-media-box__desc בתוקף עד ה-12.03.2019
            span.webvUI-icon-delete
        .webvUI-panel__ft(style="margin-bottom: 10px;")              
  
 
    
