if item.status == "new"
  span.webvUI-icon-circle(style="color: #1e86b7;font-weight: bold;font-size: 30px;")
if item.status == "selected"       
  span.webvUI-icon-success-circle(style="color: #1e86b7;font-weight: bold;font-size: 27px;")
if item.status == "bought"
  span.webvUI-icon-success(style="color: #1e86b7;font-size: 25px;")



  