.main-container
  .panel
    .page__hd(style="background-color: #ff9000;")
      div(style="background-color: #ff9000;")
        div(style="padding: 3px; font-size: 15px;") 
          span(style="color: black;") סה"כ לתשלום 
          span(style="float: left; padding-left:50px;color: white;") סה"כ חסכון 
        div
          span(style="font-weight: bold; color: black;") 
            span(style="padding-right: 10px; font-size: 32px;") 352.50 
            span(style="font-size: 20px; ") ₪
          span(style="float: left; padding-left:10px; font-weight: bold; color: white;")
            img(src='/img/saved-bg.jpg', alt='', style="height: 35px;")
            span(style="font-size: 24px; padding-right:10px;") 52.50 
            span(style="font-size: 20px; ") ₪
    .page__bd
      .webvUI-panel.webvUI-panel_access
        - var categories = ['מוצרי חלב', 'בשר ודגים']
        if categories.length == 0
          .webvUI-panel__hd(style="background-color: #f3ede0; font-size: 15px; font-weight: bold; color: #05628d;")= "רשימה ריקה"
        else
          each category in categories 
            .webvUI-panel__hd(style="background-color: #f3ede0; font-size: 15px; font-weight: bold; color: #05628d;")= category
            .webvUI-panel__bd
              - var items = [{status: "selected"}, {status: "selected"}, {status: "bought", style: "background-color: aliceblue;"}];
              if items.length == 0
                אין מבצעים
              else
                each item in items
                  include listitem
            //.webvUI-panel__ft
              //a.webvUI-cell.webvUI-cell_access.webvUI-cell_link(href='')
                //.webvUI-cell__bd                                          
          
      
