extends webviewlayout

block content   
  .main-container
      .webvUI-mainwv-body.panel
        .page__hd
          h1.page__title רשימת הסופרים
          p.page__desc ניתן לבחור את סופרים בהם תרצה לעיין במבצעים 
        .page__bd
          .webvUI-cells__title לבחור את הסניפים
          .webvUI-cells.webvUI-cells_checkbox
            each store in data
              label.webvUI-cell.webvUI-check__label(for=store["id"])
                .webvUI-cell__hd
                  input.webvUI-check(id= store["id"], type='checkbox', name='checkbox1', checked='checked')
                  i.webvUI-icon-checked
                .webvUI-cell__bd
                  .webvUI-media-box.webvUI-media-box_appmsg
                    .webvUI-media-box__bd
                      h4.webvUI-media-box__title #{store["chain"]} 
                      p.webvUI-media-box__desc #{store["name"]} במרחק של 
                        span(style="font-weight: bold; font-size: 14px;") #{store["distance"]} 
                        span ק"מ 
                    .webvUI-media-box__hd(style='margin-right: .8em;')
                      img.webvUI-media-box__thumb(src= store["img_url"], alt='')
      //.webvUI-bottombtn
        //a.webvUI-btn.webvUI-btn_primary(href='javascript:;', onclick='closeWebview()') עדכן רשימה
      
