doctype html
html(lang='he', dir="rtl")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/webvUI.min.css')
    link(rel='stylesheet', href='/stylesheets/webvUI-menu.min.css')
    script(src="/javascripts/jquery-3.2.1.min.js")
    script(type='text/javascript', src='/javascripts/webvUI.min.js')
    script(type='text/javascript', src='/javascripts/webvUI-menu.js')
    script(type='text/javascript', src='/javascripts/webvUI-slider.js')
    script(type='text/javascript').
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) { return; }
      js = d.createElement(s);
      js.id = id;
      js.src = "https://connect.facebook.com/en_US/messenger.Extensions.js";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'Messenger'));
  body(style='background-color:#fafafa;')
    block content  